<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body { font-family: Arial, sans-serif; }
    h1 { text-align: center; font-size: 24px; }
    h2 { font-size: 18px; }
    p { font-size: 14px; }
    footer{
        -webkit-font-smoothing: antialiased;
        text-size-adjust: 100%;
        --rem: 16;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Public Sans,sans-serif;
        margin: 0;
        box-sizing: inherit;
        background-color: #474256!important;
        padding: 10px 10px;
        color: #fff;
    }
    .inner-span{
        display: inline-block;
        /* float:left;  remove */
        margin: 0px 0px 0 0;
        padding: 0px auto
    }
    table {
        --rem: 16;
        white-space: normal;
        -webkit-text-size-adjust: 100%;
        color: #1f2328;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        border-spacing: 0;
        border-collapse: collapse;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        margin-top: 0;
        margin-bottom: 0 !important;
    }
    thead {
        --rem: 16;
        white-space: normal;
        -webkit-text-size-adjust: 100%;
        color: #1f2328;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        border-spacing: 0;
        border-collapse: collapse;
    }
    tr {
        --rem: 16;
        white-space: normal;
        -webkit-text-size-adjust: 100%;
        color: #1f2328;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        border-spacing: 0;
        border-collapse: collapse;
        background-color: #ffffff;
        border-top: 1px solid #d0d7deb3;
    }
    th {
        --rem: 16;
        white-space: normal;
        -webkit-text-size-adjust: 100%;
        color: #1f2328;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        border-spacing: 0;
        border-collapse: collapse;
        font-weight: 600;
        padding: 6px 13px;
        border: 1px solid #d0d7de;
    }
    tbody {
        --rem: 16;
        white-space: normal;
        -webkit-text-size-adjust: 100%;
        color: #1f2328;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        border-spacing: 0;
        border-collapse: collapse;
    }
    td {
        --rem: 16;
        white-space: normal;
        -webkit-text-size-adjust: 100%;
        color: #1f2328;
        font-size: 16px;
        line-height: 1.5;
        word-wrap: break-word;
        border-spacing: 0;
        border-collapse: collapse;
        padding: 6px 13px;
        border: 1px solid #d0d7de;
    }
  </style>
</head>
<body>
  <div class="content">
    <h1><%= stage_gate.keys.first.to_s %> Report</h1>
    <h2><strong>Innovation Title : <%= idea_data["title"] %></strong></h2>
    <h2><strong>Describe Your Innovation :</strong></h2>
    <div><%= idea_data["description"] %></div>
    <% Idea::DESCRIPTIVE_FIELDS.each do |field| %>
        <h2><strong> <%= field.humanize %> :</strong></h2>
        <div><%= idea_data[field.to_s] %></div>
    <% end %>
    <div>
        <h3>AI Collated Innovation</h3>
        <div>
            <%= idea_data["elaboration"].html_safe %>
        </div>
    </div>
    <hr>
    <% stage_gate.each do |name, parameters| %>
        <% parameters.each do |param_hash|%>
            <hr>
            <% param_hash.each do |k, val|%>
                <%= val&.html_safe %>
            <% end %>
            <hr>
        <% end %>
    <% end %>
</body>
<footer class="footer">
<div class="inner-footer">
    <div class="inner-1">
        <div class="inner-1-logo">
            <span class="inner-1-span">Powered by</span>
            <div class="inner-1-logo">
                <svg width="160px" height="50px" viewBox="0 0 380 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M261.09 72L280.736 17.052H292.478L312.124 72H301.066L296.582 59.27H276.784L272.224 72H261.09ZM279.292 49.58H293.884L286.626 27.73L279.292 49.58ZM318.5 72V59.916H330.66V72H318.5ZM341.898 72V17.052H352.956V72H341.898ZM362.883 72V59.916H375.043V72H362.883Z" fill="url(#paint0_radial_50811_19122)"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M34.6036 8.62891C53.1992 8.62891 68.2736 23.7033 68.2736 42.2989C68.2736 60.8936 53.1992 75.9689 34.6036 75.9689C16.0089 75.9689 0.933594 60.8936 0.933594 42.2989C0.933594 23.7033 16.0089 8.62891 34.6036 8.62891Z" fill="white" fill-opacity="0.01" stroke="white" stroke-opacity="0.4" stroke-width="0.5" stroke-miterlimit="22.9256" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.6464 54.4123L34.8412 75.7778L34.3646 76.1404L18.1698 54.7749L18.6464 54.4123ZM18.1698 54.7749C18.0707 54.6432 18.096 54.4553 18.2277 54.3553C18.3586 54.2553 18.5464 54.2806 18.6464 54.4123L18.1698 54.7749ZM2.45151 33.0478L18.6464 54.4123L18.1698 54.7749L1.97491 33.4104L2.21321 32.9301L2.45151 33.0478ZM1.97491 33.4104C1.87492 33.2786 1.90109 33.0908 2.03192 32.9908C2.16368 32.8908 2.35152 32.9161 2.45151 33.0478L1.97491 33.4104ZM34.6029 33.5291H2.21321V32.9301H34.6029V33.5291ZM34.6029 32.9301C34.7684 32.9301 34.902 33.0637 34.902 33.2291C34.902 33.3945 34.7684 33.5291 34.6029 33.5291V32.9301ZM66.9927 33.5291H34.6029V32.9301H66.9927L67.231 33.4104L66.9927 33.5291ZM66.9927 32.9301C67.1581 32.9301 67.2917 33.0637 67.2917 33.2291C67.2917 33.3945 67.1581 33.5291 66.9927 33.5291V32.9301ZM50.5595 54.4123L66.7544 33.0478L67.231 33.4104L51.0361 54.7749L50.5595 54.4123ZM51.0361 54.7749C50.9361 54.9067 50.7483 54.9329 50.6165 54.8329C50.4857 54.7329 50.4595 54.5441 50.5595 54.4123L51.0361 54.7749ZM34.3646 75.7778L50.5595 54.4123L51.0361 54.7749L34.8412 76.1404H34.3646V75.7778ZM34.8412 76.1404C34.7412 76.2721 34.5534 76.2974 34.4226 76.1974C34.2908 76.0974 34.2647 75.9096 34.3646 75.7778L34.8412 76.1404Z" fill="white" fill-opacity="0.01"/>
                    <path d="M23.6577 46.859L34.8688 67.5618L34.3418 67.8487L23.1306 47.1458L23.6577 46.859ZM23.1306 47.1458C23.0521 47.0001 23.1054 46.8178 23.2511 46.7384C23.396 46.6599 23.5782 46.7141 23.6577 46.859L23.1306 47.1458ZM12.4455 26.157L23.6577 46.859L23.1306 47.1458L11.9194 26.4439L12.182 26L12.4455 26.157ZM11.9194 26.4439C11.84 26.2981 11.8942 26.1159 12.04 26.0364C12.1848 25.9579 12.367 26.0112 12.4455 26.157L11.9194 26.4439ZM34.6053 26.6009H12.182V26H34.6053V26.6009ZM34.6053 26C34.7707 26 34.9053 26.1346 34.9053 26.3009C34.9053 26.4663 34.7707 26.6009 34.6053 26.6009V26ZM57.0286 26.6009H34.6053V26H57.0286L57.2912 26.4439L57.0286 26.6009ZM57.0286 26C57.194 26 57.3277 26.1346 57.3277 26.3009C57.3277 26.4663 57.194 26.6009 57.0286 26.6009V26ZM45.5539 46.859L56.7651 26.157L57.2912 26.4439L46.08 47.1458L45.5539 46.859ZM46.08 47.1458C46.0015 47.2916 45.8193 47.3458 45.6735 47.2664C45.5287 47.1879 45.4745 47.0047 45.5539 46.859L46.08 47.1458ZM34.3418 67.5618L45.5539 46.859L46.08 47.1458L34.8688 67.8487H34.3418V67.5618ZM34.8688 67.8487C34.7903 67.9945 34.6081 68.0478 34.4623 67.9693C34.3175 67.8898 34.2633 67.7076 34.3418 67.5618L34.8688 67.8487Z" fill="white" fill-opacity="0.4"/>
                    <path d="M29.2282 48.3761L34.8725 59.2443L34.3408 59.5209L28.6964 48.6527L29.2282 48.3761ZM28.6964 48.6527C28.6207 48.506 28.6777 48.3247 28.8245 48.2481C28.9712 48.1724 29.1525 48.2294 29.2282 48.3761L28.6964 48.6527ZM23.5847 37.5079L29.2282 48.3761L28.6964 48.6527L23.053 37.7845L23.3193 37.3462L23.5847 37.5079ZM23.053 37.7845C22.9773 37.6378 23.0343 37.4565 23.181 37.3798C23.3277 37.3041 23.509 37.3611 23.5847 37.5079L23.053 37.7845ZM34.6062 37.9461H23.3193V37.3462H34.6062V37.9461ZM34.6062 37.3462C34.7716 37.3462 34.9062 37.4808 34.9062 37.6462C34.9062 37.8116 34.7716 37.9461 34.6062 37.9461V37.3462ZM45.8931 37.9461H34.6062V37.3462H45.8931L46.1594 37.7845L45.8931 37.9461ZM45.8931 37.3462C46.0594 37.3462 46.1931 37.4808 46.1931 37.6462C46.1931 37.8116 46.0594 37.9461 45.8931 37.9461V37.3462ZM39.9842 48.3761L45.6277 37.5079L46.1594 37.7845L40.516 48.6527L39.9842 48.3761ZM40.516 48.6527C40.4393 48.7994 40.259 48.8564 40.1123 48.7798C39.9656 48.7041 39.9076 48.5228 39.9842 48.3761L40.516 48.6527ZM34.3408 59.2443L39.9842 48.3761L40.516 48.6527L34.8725 59.5209H34.3408V59.2443ZM34.8725 59.5209C34.7959 59.6676 34.6146 59.7246 34.4679 59.648C34.3212 59.5723 34.2642 59.391 34.3408 59.2443L34.8725 59.5209Z" fill="white" fill-opacity="0.4"/>
                    <path d="M25.1013 32.1151L34.85 46.5475L34.3566 46.8848L24.6088 32.4515L25.1013 32.1151ZM24.6088 32.4515C24.5163 32.3151 24.5518 32.1282 24.6873 32.0357C24.8238 31.9431 25.0088 31.9787 25.1013 32.1151L24.6088 32.4515ZM15.3526 17.6827L25.1013 32.1151L24.6088 32.4515L14.8601 18.02L15.1068 17.5519L15.3526 17.6827ZM14.8601 18.02C14.7676 17.8827 14.8031 17.6967 14.9386 17.6033C15.0751 17.5107 15.261 17.5463 15.3526 17.6827L14.8601 18.02ZM34.6033 18.1509H15.1068V17.5519H34.6033V18.1509ZM34.6033 17.5519C34.7678 17.5519 34.9014 17.6855 34.9014 17.8509C34.9014 18.0163 34.7678 18.1509 34.6033 18.1509V17.5519ZM54.1007 18.1509H34.6033V17.5519H54.1007L54.3474 18.02L54.1007 18.1509ZM54.1007 17.5519C54.2652 17.5519 54.3979 17.6855 54.3979 17.8509C54.3979 18.0163 54.2652 18.1509 54.1007 18.1509V17.5519ZM44.1053 32.1151L53.854 17.6827L54.3474 18.02L44.5987 32.4515L44.1053 32.1151ZM44.5987 32.4515C44.5062 32.5889 44.3202 32.6244 44.1847 32.5319C44.0483 32.4384 44.0128 32.2525 44.1053 32.1151L44.5987 32.4515ZM34.3566 46.5475L44.1053 32.1151L44.5987 32.4515L34.85 46.8848H34.3566V46.5475ZM34.85 46.8848C34.7575 47.0213 34.5725 47.0568 34.436 46.9643C34.2996 46.8708 34.2641 46.6849 34.3566 46.5475L34.85 46.8848Z" fill="white" fill-opacity="0.4"/>
                    <path d="M30.7576 46.038L34.8358 51.0618L34.3723 51.4403L30.2932 46.4164L30.7576 46.038ZM30.2932 46.4164C30.1894 46.2875 30.2091 46.0987 30.3371 45.994C30.4651 45.8903 30.6539 45.9099 30.7576 46.038L30.2932 46.4164ZM26.6795 41.0132L30.7576 46.038L30.2932 46.4164L26.215 41.3916L26.4477 40.9029L26.6795 41.0132ZM26.215 41.3916C26.1113 41.2636 26.1309 41.0748 26.2589 40.9702C26.387 40.8655 26.5748 40.8851 26.6795 41.0132L26.215 41.3916ZM34.604 41.5019H26.4477V40.9029H34.604V41.5019ZM34.604 40.9029C34.7694 40.9029 34.9031 41.0375 34.9031 41.2029C34.9031 41.3683 34.7694 41.5019 34.604 41.5019V40.9029ZM42.7603 41.5019H34.604V40.9029H42.7603L42.993 41.3916L42.7603 41.5019ZM42.7603 40.9029C42.9257 40.9029 43.0594 41.0375 43.0594 41.2029C43.0594 41.3683 42.9257 41.5019 42.7603 41.5019V40.9029ZM38.4504 46.038L42.5286 41.0132L42.993 41.3916L38.9149 46.4164L38.4504 46.038ZM38.9149 46.4164C38.8102 46.5445 38.6214 46.5641 38.4934 46.4594C38.3654 46.3548 38.3458 46.166 38.4504 46.038L38.9149 46.4164ZM34.3723 51.0618L38.4504 46.038L38.9149 46.4164L34.8358 51.4403H34.3723V51.0618ZM34.8358 51.4403C34.732 51.5683 34.5433 51.588 34.4152 51.4833C34.2872 51.3796 34.2676 51.1899 34.3723 51.0618L34.8358 51.4403Z" fill="white" fill-opacity="0.4"/>
                    <path d="M18.6467 30.1432L18.1701 29.7806L34.3649 8.45721L34.8415 8.81979L18.6467 30.1432ZM18.1701 29.7806L18.6467 30.1432C18.5467 30.275 18.3588 30.3011 18.2271 30.2011C18.0953 30.1011 18.0701 29.9124 18.1701 29.7806ZM2.45179 51.4666L2.21349 51.5843L1.97519 51.104L18.1701 29.7806L18.6467 30.1432L2.45179 51.4666ZM1.97519 51.104L2.45179 51.4666C2.3518 51.5984 2.16396 51.6236 2.0322 51.5236C1.90043 51.4236 1.8752 51.2358 1.97519 51.104ZM34.6032 50.9853V51.5843H2.21349V50.9853H34.6032ZM34.6032 51.5843V50.9853C34.7686 50.9853 34.9032 51.1199 34.9032 51.2853C34.9032 51.4507 34.7686 51.5843 34.6032 51.5843ZM66.993 50.9853L67.2313 51.104L66.993 51.5843H34.6032V50.9853H66.993ZM66.993 51.5843V50.9853C67.1584 50.9853 67.2929 51.1199 67.2929 51.2853C67.2929 51.4507 67.1584 51.5843 66.993 51.5843ZM50.5598 30.1432L51.0364 29.7806L67.2313 51.104L66.7547 51.4666L50.5598 30.1432ZM51.0364 29.7806L50.5598 30.1432C50.4598 30.0114 50.485 29.8236 50.6168 29.7236C50.7486 29.6236 50.9364 29.6488 51.0364 29.7806ZM34.3649 8.81979V8.45721H34.8415L51.0364 29.7806L50.5598 30.1432L34.3649 8.81979ZM34.8415 8.45721L34.3649 8.81979C34.2649 8.68897 34.2902 8.5002 34.4219 8.40021C34.5537 8.30021 34.7415 8.32638 34.8415 8.45721Z" fill="white" fill-opacity="0.4"/>
                    <path d="M22.884 38.7593L22.3654 38.4584L34.3456 17.6536L34.8652 17.9545L22.884 38.7593ZM22.3654 38.4584L22.884 38.7593C22.8018 38.9023 22.6177 38.9518 22.4747 38.8686C22.3317 38.7864 22.2822 38.6023 22.3654 38.4584ZM10.9028 59.5631L10.6439 59.7136L10.3841 59.2631L22.3654 38.4584L22.884 38.7593L10.9028 59.5631ZM10.3841 59.2631L10.9028 59.5631C10.8206 59.707 10.6374 59.7556 10.4935 59.6734C10.3505 59.5902 10.301 59.4061 10.3841 59.2631ZM34.6054 59.1127V59.7136H10.6439V59.1127H34.6054ZM34.6054 59.7136V59.1127C34.7708 59.1127 34.9054 59.2473 34.9054 59.4127C34.9054 59.579 34.7708 59.7136 34.6054 59.7136ZM58.5678 59.1127L58.8267 59.2631L58.5678 59.7136H34.6054V59.1127H58.5678ZM58.5678 59.7136V59.1127C58.7333 59.1127 58.8669 59.2473 58.8669 59.4127C58.8669 59.579 58.7333 59.7136 58.5678 59.7136ZM46.3268 38.7593L46.8464 38.4584L58.8267 59.2631L58.3081 59.5631L46.3268 38.7593ZM46.8464 38.4584L46.3268 38.7593C46.2446 38.6154 46.2932 38.4313 46.4371 38.3491C46.5801 38.2659 46.7633 38.3154 46.8464 38.4584ZM34.3456 17.9545V17.6536H34.8652L46.8464 38.4584L46.3268 38.7593L34.3456 17.9545ZM34.8652 17.6536L34.3456 17.9545C34.2634 17.8106 34.312 17.6265 34.4559 17.5443C34.5989 17.4611 34.782 17.5107 34.8652 17.6536Z" fill="white" fill-opacity="0.4"/>
                    <path d="M26.6698 50.6261L26.1296 50.3664L34.3345 33.2202L34.8747 33.48L26.6698 50.6261ZM26.1296 50.3664L26.6698 50.6261C26.5978 50.7757 26.4193 50.8383 26.2698 50.7663C26.1203 50.6953 26.0577 50.5159 26.1296 50.3664ZM18.4649 67.7714L18.1939 67.9424L17.9238 67.5125L26.1296 50.3664L26.6698 50.6261L18.4649 67.7714ZM17.9238 67.5125L18.4649 67.7714C18.3929 67.9209 18.2135 67.9845 18.0649 67.9125C17.9154 67.8415 17.8528 67.6621 17.9238 67.5125ZM34.6046 67.3425V67.9424H18.1939V67.3425H34.6046ZM34.6046 67.9424V67.3425C34.77 67.3425 34.9046 67.4761 34.9046 67.6424C34.9046 67.8078 34.77 67.9424 34.6046 67.9424ZM51.0153 67.3425L51.2854 67.5125L51.0153 67.9424H34.6046V67.3425H51.0153ZM51.0153 67.9424V67.3425C51.1807 67.3425 51.3144 67.4761 51.3144 67.6424C51.3144 67.8078 51.1807 67.9424 51.0153 67.9424ZM42.5394 50.6261L43.0796 50.3664L51.2854 67.5125L50.7443 67.7714L42.5394 50.6261ZM43.0796 50.3664L42.5394 50.6261C42.4684 50.4766 42.531 50.2972 42.6805 50.2252C42.8291 50.1542 43.0085 50.2168 43.0796 50.3664ZM34.3345 33.48V33.2202H34.8747L43.0796 50.3664L42.5394 50.6261L34.3345 33.48ZM34.8747 33.2202L34.3345 33.48C34.2626 33.3304 34.3261 33.151 34.4747 33.0791C34.6242 33.008 34.8036 33.0706 34.8747 33.2202Z" fill="white" fill-opacity="0.4"/>
                    <path d="M29.1973 36.6601L28.674 36.3704L34.3446 26.1676L34.8688 26.4573L29.1973 36.6601ZM28.674 36.3704L29.1973 36.6601C29.1179 36.8041 28.9347 36.8564 28.7899 36.776C28.646 36.6966 28.5937 36.5144 28.674 36.3704ZM23.5268 46.8621L23.2642 47.0163L23.0025 46.5724L28.674 36.3704L29.1973 36.6601L23.5268 46.8621ZM23.0025 46.5724L23.5268 46.8621C23.4464 47.006 23.2642 47.0583 23.1194 46.9789C22.9745 46.8985 22.9222 46.7163 23.0025 46.5724ZM34.6062 46.4182V47.0163H23.2642V46.4182H34.6062ZM34.6062 47.0163V46.4182C34.7716 46.4182 34.9062 46.5518 34.9062 46.7172C34.9062 46.8817 34.7716 47.0163 34.6062 47.0163ZM45.9482 46.4182L46.2099 46.5724L45.9482 47.0163H34.6062V46.4182H45.9482ZM45.9482 47.0163V46.4182C46.1136 46.4182 46.2473 46.5518 46.2473 46.7172C46.2473 46.8817 46.1136 47.0163 45.9482 47.0163ZM40.0151 36.6601L40.5394 36.3704L46.2099 46.5724L45.6856 46.8621L40.0151 36.6601ZM40.5394 36.3704L40.0151 36.6601C39.9347 36.5153 39.9871 36.3331 40.1319 36.2536C40.2768 36.1733 40.459 36.2256 40.5394 36.3704ZM34.3446 26.4573V26.1676H34.8688L40.5394 36.3704L40.0151 36.6601L34.3446 26.4573ZM34.8688 26.1676L34.3446 26.4573C34.2642 26.3134 34.3165 26.1311 34.4614 26.0508C34.6062 25.9713 34.7884 26.0237 34.8688 26.1676Z" fill="white" fill-opacity="0.4"/>
                    <path d="M55.6512 26.2349H50.761V72.7449L42.0776 65.2549V51.186C38.8171 53.5811 34.5596 56.6416 29.303 60.3674C27.3069 61.7645 24.5118 63.6942 20.9196 66.1557L15.8294 59.9684L31.8981 48.7899L26.6079 46.0958C25.594 45.5631 24.695 45.0641 23.8969 44.5819C23.0979 44.1165 22.2662 43.6175 21.4018 43.0848L7.64506 52.2831L3.1875 46.0958L15.2304 38.7104C14.0333 37.5787 13.1352 36.6143 12.5362 35.8163C10.7392 33.4202 9.84113 30.9924 9.84113 28.53C9.84113 25.7358 10.9392 23.4071 13.1352 21.5437C15.3304 19.6812 17.8918 18.7495 20.8196 18.7495C23.9465 18.7495 26.6743 19.7139 29.003 21.6437C31.3318 23.5734 32.4962 26.0022 32.4962 28.9299C32.4962 30.9924 31.8149 33.0707 30.4506 35.1668C29.0862 37.2629 27.9059 38.5441 26.9079 39.0094C27.506 39.4748 28.1386 39.9243 28.804 40.357C29.4694 40.7897 30.5337 41.4046 31.9972 42.2026C32.9289 42.669 33.9437 43.1343 35.0418 43.6006C36.1398 44.066 36.9874 44.4323 37.5864 44.6987L42.0776 41.9868V26.2349H36.0893V19.5476H60.0293L55.6512 26.2349ZM24.4128 29.129C24.4128 28.0646 24.0633 27.1497 23.3643 26.3844C22.6662 25.619 21.784 25.2368 20.7196 25.2368C17.6592 25.2368 16.1284 26.5339 16.1284 29.129C16.1284 30.5924 16.8274 32.0568 18.2245 33.5202C18.6908 33.9856 19.4225 34.5846 20.4206 35.3163C21.0196 35.1836 21.7513 34.6509 22.6157 33.7202C23.8138 32.3895 24.4128 30.8588 24.4128 29.129Z" fill="#4F46E5"/>
                    <path d="M222.565 6.0948L216.373 12.2868L210.277 6.0948L216.373 0L222.565 6.0948Z" fill="white"/>
                    <path d="M211.828 20.1235V62.6928L220.536 71.1098V28.5406L211.828 20.1235Z" fill="white"/>
                    <path d="M207.378 60.0808C207.443 61.7573 207.136 63.3544 206.459 64.8701C205.781 66.3849 204.863 67.6755 203.701 68.7399C202.54 69.8043 201.169 70.5453 199.589 70.9649C198.009 71.3845 196.381 71.3359 194.704 70.8201C193.221 70.3042 191.85 69.5464 190.592 68.5464C189.334 67.5465 188.157 66.498 187.06 65.4018C186.222 64.5636 185.433 63.7085 184.691 62.8376C183.949 61.9676 183.222 61.048 182.513 60.0808C180.772 57.7586 179.934 55.3719 179.997 52.9216V28.6368H173.129L177.966 20.1235H179.997V0L188.705 8.31984V20.1235H199.444L194.51 28.6368H188.705L188.609 61.3386C188.738 62.3703 189.35 62.9189 190.447 62.9834C191.414 63.0478 192.301 62.8376 193.108 62.3544C193.914 61.8704 194.672 61.3059 195.381 60.6611C196.671 59.565 197.655 58.2427 198.331 56.6942C199.009 55.1467 199.283 53.5337 199.154 51.8572C200.702 53.4692 202.056 54.856 203.218 56.0176C204.25 57.0493 205.201 58.0006 206.072 58.8716C206.943 59.7416 207.378 60.1453 207.378 60.0808Z" fill="white"/>
                    <path d="M167.093 28.6368H164.481V71.1098L155.773 62.6928V60.0808C154.806 61.2415 153.806 62.3059 152.774 63.2731C151.743 64.2412 150.485 65.2084 149.001 66.1756C147.518 67.1438 145.905 68.0306 144.164 68.8362C142.422 69.6426 140.617 70.3043 138.746 70.8201C136.875 71.336 135.069 71.5939 133.327 71.5939C130.876 71.5939 128.619 71.0453 126.555 69.9492C124.621 68.9819 122.975 67.6596 121.621 65.9822C120.267 64.3057 119.331 62.4021 118.816 60.2743C118.234 57.9521 118.138 55.5822 118.525 53.1637C118.912 50.7443 119.589 48.3258 120.557 45.9073C121.525 43.4879 122.701 41.1021 124.088 38.7472C125.475 36.3932 126.878 34.1195 128.297 31.9263C129.135 30.6366 129.813 29.5405 130.329 28.6368H118.234L123.072 20.1235H139.713H141.261C141.261 20.1235 140.971 20.6076 140.39 21.5748C139.81 22.542 139.084 23.7999 138.213 25.3474C137.343 26.8959 136.375 28.6368 135.311 30.5722C134.247 32.5075 133.231 34.4419 132.263 36.3773C129.942 41.1498 128.442 45.455 127.764 49.293C127.087 53.131 127.007 56.1784 127.522 58.4361C127.975 60.1126 128.974 61.3705 130.522 62.2096C132.328 63.1124 134.65 63.3703 137.488 62.9834C140.326 62.5965 143.712 61.0808 147.647 58.4361C149.323 57.339 150.839 56.1784 152.194 54.9533C153.548 53.7272 154.742 52.5983 155.773 51.5666V28.6368H148.614L153.451 20.1235H172.027L167.093 28.6368Z" fill="white"/>
                    <path d="M104.593 20.5104C106.141 20.6394 107.576 21.1552 108.899 22.0579C110.221 22.9607 111.317 24.1064 112.188 25.4932C113.059 26.88 113.671 28.3471 114.026 29.8947C114.381 31.4431 114.413 32.9103 114.123 34.2971C113.833 35.6839 113.139 36.8613 112.043 37.8286C110.946 38.7958 109.398 39.3443 107.399 39.4733C106.238 39.5378 105.205 39.3443 104.303 38.8929C103.4 38.4406 102.642 37.8286 102.029 37.0539C101.417 36.2801 100.981 35.3933 100.723 34.3943C100.466 33.3944 100.466 32.3786 100.723 31.3459C99.8199 31.5394 98.7723 31.9431 97.5789 32.5552C96.3856 33.1682 95.1119 33.8775 93.7568 34.684C92.4028 35.4904 91.0477 36.3446 89.6936 37.2482C88.3396 38.151 87.0817 38.9892 85.9201 39.763V71.1098L77.2134 62.6928V28.734H69.957L74.794 20.1235H85.9201V34.4419C87.3396 32.7654 88.8068 31.0721 90.3226 29.3629C91.8383 27.6537 93.2092 26.251 94.4344 25.1539C94.9502 24.7026 95.595 24.2026 96.3697 23.655C97.1435 23.1065 97.9817 22.5906 98.8844 22.1065C99.7881 21.6234 100.723 21.2197 101.691 20.8973C102.658 20.5749 103.626 20.4459 104.593 20.5104Z" fill="white"/>
                    <defs>
                    <radialGradient id="paint0_radial_50811_19122" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(318.329 58.0089) rotate(0.767365) scale(59.3344 334.302)">
                    <stop stop-color="#CD99FF"/>
                    <stop offset="1" stop-color="#4F46E5"/>
                    </radialGradient>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="inner-2">
        <span class="inner-span">© Copyright 2024. All Rights Reserved.</span>
    </div>
</div>
</footer>
</html>
